{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>Search Chirps</h1>
<br/>

<form method=POST>
{% csrf_token %}
<input type="input" class="form-control" placeholder="search chirps" name="search">
<br/>        
    <button type="submit" class="btn btn-secondary">Search Chirp</button>
</form>
<br>

{% if search %}
<h3>You Searched For: {{ search }}</h3>
<br>

{% for chirp in searched %}

    <div class="alert alert-dark" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    {% if chirp.user.profile.profile_image %}
                        <img src="{{ chirp.user.profile.profile_image.url }}" class="rounded-circle" alt="@{{ chirp.user.username }}" style="object-fit: cover; width: 50px; height: 50px; display: block;">
                    {% else %}
                        <img src="{% static 'images/default_profile_pic.jpg' %}" class="rounded-circle" alt="@{{ chirp.user.username }}" style="object-fit: cover; width: 50px; height: 50px; display: block;">
                    {% endif %}
                </div>
                <div class="col-10">
                    {{ chirp.body }} <br/>
                    <small class="text-muted">
                        ({{ chirp.created_at }}) 
                        By @{{ chirp.user.username }}
                        
                        - {{chirp.num_likes}}
                        &nbsp;
                        {% if user in chirp.likes.all %}
                        <a href="{% url 'chirp_like' chirp.id %}">
                            <i class="fa-solid fa-heart" style="color:red" width: 24px; display: inline-block;></i></a>
                        {% else %}
                        <a href="{% url 'chirp_like' chirp.id %}">
                            <i class="fa fa-heart-o" style="color:red"; width: 24px; display: inline-block;></i></a>
                        {% endif %}
                        
                        &nbsp;
                        <a href="{% url 'chirp_show' chirp.id %}">
                            <i class="fa fa-share" style="color:gray" width: 24px; display: inline-block;></i>
                        </a>
                        
                        
                    </small>
                </div>
            </div>
        </div>
    </div><br/><br/>

{% endfor %}

{% endif %}

<br>

{% endblock %}
 