{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">

            <h1>The Internet Is Bitter</h1>
            <br/>

            {% for bite in bites %}
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                {% if bite.user.profile.profile_image %}
                                    <img src="{{ bite.user.profile.profile_image.url }}" class="rounded-circle" alt="@{{ bite.user.username }}" style="object-fit: cover; width: 50px; height: 50px; display: block;">
                                {% else %}
                                    <img src="{% static 'images/default_profile_pic.jpg' %}" class="rounded-circle" alt="@{{ bite.user.username }}" style="object-fit: cover; width: 50px; height: 50px; display: block;">
                                {% endif %}
                            </div>
                            <div class="col-10">
                                {{ bite.body }} <br/>
                                <small class="text-muted">
                                    ({{ bite.created_at }}) 
                                    By @{{ bite.user.username }}
                                    &nbsp;
                                    - {{bite.num_likes}}

                                    {% if user in bite.likes.all %}
                                    <a href="{% url 'bite_like' bite.id %}">
                                        <i class="fa-solid fa-heart" style="color:red; width: 24px; display: inline-block;"></i></a>
                                    {% else %}
                                    <a href="{% url 'bite_like' bite.id %}">
                                        <i class="fa fa-heart-o" style="color:red; width: 24px; display: inline-block;"></i></a>
                                    {% endif %}
                                    &nbsp;
                                    <a href="{% url 'bite_show' bite.id %}">
                                        <i class="fa fa-share" style="color:rgb(105, 105, 105); width: 24px; display: inline-block;"></i>
                                    </a>
                                  
                                </small>
                            </div>
                        </div>
                    </div>
                </div><br/><br/>
            {% endfor %}

        </div>

        <div class="col-4">
            <br/><br/><br/>
            {% if form %}
                <form method=POST>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Post Bite</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
